* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "tr larabiefont";
  text-align: center;
  display: flex;
  width: 100vw;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 3rem;
  text-align: center;
}

.display {
  margin: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 500px;
  height: auto;
}

.content {
  padding: 40px;
  background: navajowhite;
  border: 2px solid indianred;
  border-radius: 13px
}

.container {
  width: 30vw;
  height: auto;
}


#contact {
  background: white;
  margin: 20px;
  padding: auto 20px;
}

#contact h3 {
  font-size: 3rem;
  color: crimson;
}

#contact fieldset {
  outline: none;
  height: 50px;
  display: flex;
  border: none;
}

#contact input {
  width: 100%;
  outline: none;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  border-radius: 9px;
}


#contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  width: 60%;
  font-size: 2rem;
  cursor: pointer;

}