* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "tr larabiefont";
  margin: 25px;
  display: flex;
  justify-content: center;
}

header {
  font-size: 3rem;
  text-align: center;
}

.container {
  width: 30vw;
  height: auto;
}

#contact {
  background: white;
  margin: 20px;
  padding: auto 20px;
}

#contact h3 {
  font-size: 3rem;
  color: crimson;
}

#contact fieldset {
  outline: none;
  height: 50px;
  display: flex;
  border: none;
}

#contact input {
  width: 100%;
  outline: none;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  border-radius: 9px;
}

#contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  width: 60%;
  font-size: 2rem;
  cursor: pointer;

}

table {

  border-collapse: collapse;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

table tr:nth-child(even) {
  background: whitesmoke;
}

table th,
table td {
  font-size: 22px;
  border: 1px solid black;
  padding: 9px;
}